* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  background-color: rgb(71, 69, 69);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main_box {
  position: relative;
  width: 42em;
  height: 25em;
  display: flex;
  align-items: center;
  border-radius: 1.5em;
  transition: 0.5s;
}

.main_box .circle {
  position: absolute;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
  overflow: hidden;
}

.main_box .circle::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(7.5em at center);
  transition: 0.4s;
}

h1 {
  margin-right: 1em;
}

.main_box:hover .circle::before {
  clip-path: circle(30em at center);
  background: rgb(20, 220, 43);
}

.main_box img {
  top: 50%;
  left: 50%;
  height: 5.75em;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  transition: 0.4s;
}
.main_box:hover img {
  left: 80%;
  top: 12.25em;
  height: 10em;
}

.main_box .content {
  position: relative;
  width: 50%;
  background: rgb(20, 220, 43);
  padding: 1.25em 1.25em 1.25em 2.5em;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.main_box:hover .content {
  left: 10%;
  opacity: 1;
  visibility: visible;
}

.main_box .content h2 {
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.main_box .content p {
  color: #fff;
}

.main_box .content a {
  position: relative;
  text-decoration: none;
  color: rgb(186, 14, 14);
  padding: 0.6em 1.25em;
  margin-top: 0.6em;
  display: inline-block;
}
